mixin navIndex()
    .row
        .col-lg-12
            a(href='/') Index
            hr
            a(href='/login') Log
            hr
            a(href='/register') Register
            hr
            a(href='/logout') Log Out

mixin register()
    .row
        +navIndex()
        .jumbotron
            form.form-horizontal(method='POST', action='/users/register')
                div.form-group.row
                    .col-sm-12
                        label(for='firstname') FirstName:
                        input#firstname.form-control(type='text', placeholder='John' name='firstname')
                div.form-group.row
                    .col-sm-12
                        label(for='firstname') UserName:
                        input#firstname.form-control(type='text', placeholder='John' name='username')
                div.form-group.row
                    .col-sm-12
                        label(for='lastname') LastName:
                        input#lastname.form-control(type='text', placeholder='Doe' name='lastname')
                div.form-group.row
                    .col-sm-12
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='name@email.com' name='email')
                div.form-group.row
                    .col-sm-12
                        label(for='pw') Password:
                        input#pw.form-control(type='password' name='password')
                div.form-group.row
                    .col-sm-12
                        label(for='pw2') Confirm Password:
                        input#pw2.form-control(type='password' name='confirmPassword')
                div.form-group.row
                    .col-sm-12
                        label.control-label upload pic..
                        input.form-control(type="file", multiple, name="image", accept="images/*")
                button.btn.btn-primary.btn-success(type='submit') Sign up

mixin login()
    .row
        +navIndex()
        .jumbotron
        .col-lg-12
            form.form-group(action='/users/login', method='POST')
                .form-group
                .col-sm-4
                    input.form-control(type='text', name='username', placeholder='Username')
                .form-group
                .col-sm-4
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                .col-sm-1
                button.btn.btn-primary.alert-info(type='submit') Sign In
                .row
                    .col-sm-8
                    .col-sm-1
                        a.btn.btn-sm.align-middle.btn-outline-secondary(href='/forget') Forgot your password?


mixin index(user)
    .row
        +navIndex()
    if user !== undefined
        p welkome #{user.username}

mixin message(message)
    p #{message}

mixin forget(action, IdToken)
    .row
        if action === 'sendInstruction'
            form.form-horizontal(method='POST', action='/users/sendResetInstruction')
                div.form-group.row
                    .col-sm-6
                        input#email.form-control(type='email', placeholder='name@email.com' name='email')
                button.btn.btn-primary.btn-success(type="submit", value="Upload") Email
        else if action === 'resetPass' && (IdToken.id !== '' && IdToken.token !== '')
            form.form-horizontal(method='POST', action='/users/newPassword')
                div.form-group.row
                    .col-sm-6
                        label(for='pw') Password:
                        input#pw.form-control(type='password' name='password')
                div.form-group.row
                    .col-sm-6
                        label(for='pw2') Confirm Password:
                        input#pw2.form-control(type='password' name='confirmPassword')
                        input(type='hidden', name='id', value=IdToken.id)
                        input(type='hidden', name='token', value=IdToken.token)
                button.btn.btn-primary.btn-success(type='submit') Modify