{{>header}}

<div class="container-fluid" style="background-color: black; text-align: center; padding: 3em 3em 3em 3em; font-family: monospace;">
    <h1 style="color: red;">{{error}}</h1>
{{#if error2}}
    <h3 style="color: papayawhip;">{{error2}}</h3>
{{/if}}
</div>

{{>footer}}