extends layout
include partials/
block content
    h1= title
    p Welcome to #{title}

    p Tamere
    p Hello #{user.username} How are you today?
    hr
    a(href='/users/edit') edit Info
    hr
    if action === 'editProfile' && user
        +editProfile(user)
    //else if action === 'searchMovie'
